<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>
<form>
  Name:<br>
  <input type="text" name="name">
  <br>
  Email:<br>
  <input type="text" name="email">
  <br>
  H/p no:<br>
  <input type="text" name="handphone">
  <br>
  Enquiry:<br>
  <input type="text" name="enquiry">
</form>

<%= form_for @person do |person_form| %>
  Name: <%= person_form.text_field :name %>
  Contact number: <%= person_form.text_field :contact_number %>
  Email: <%= person_form.text_field :email %>
  Enquiry: <%= person_form.text_field :enquiry %>
<% end %>

<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>

<h2>Operation hours: Mon-Sat 8:30am - 6:30pm, Sun 9:00am - 3.30pm</h2>

<h2>Address: 33, Jalan Datuk Haji Eusoff, Wisma Damai, Off Jalan Ipoh, Kuala Lumpur, Malaysia</h2>

<h2>Facebook: www.facebook.com/chanhuatautosupplies</h2>