<!DOCTYPE html>
<html>
  <head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  </head>
  <body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
	    <%= link_to "chan huat auto supplies", "#", id: "logo" %>
		<nav>	
	      <ul class="nav navbar-nav pull_right">
			<li><%= link_to "Home", 'home_path' %></li>
			<li><%= link_to "About Us", aboutus_path %></li>
			<li><%= link_to "Product and Services", product_path %></li>
			<li><% link_to "Gallery", gallery_path %></li>
			<li><%= link_to "Contact Us", contactus_path %></li>
		  </ul>
		</nav>
	  </div>
	</header>
	<div class="container">

	  <%= yield %>

	<br><br>
	<h2>Feedbacks</h2>
	<div>
	<textarea rows="4" cols="50" type="text" name="suggestion"></textarea>
    </div>
	<br>
	  <input type="submit" value="Submit!">

	<br><br>
	

	  <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
